*{
	margin:0px;
	padding: 0px;
}
body{

	font-family: 'Lato', sans-serif;

}
.container{
	margin:0 auto;
	width: 1140px;
}

header{

	width: 100%;
	float: left;
	background-color: #f6f9f9;
	position: fixed;
}
.logo{
	padding: 30px 0px;
	width: 25%;
	float: left;


}
.logo img{



}
.menu{
	width: 75%;
	float: left;



}
nav ul{
	list-style: none;
	margin:30px 0px;


}
nav ul li{
	display: inline-block;
	margin-right:30px;
	margin-left: 30px;


}
nav ul a{
color: #989898;
text-decoration: none;
font-size:15px;


}

nav ul a:hover{
	  box-shadow: 2px 4px 5px #00FF00;


	

}

/*-----------------------banner------------------------------------*/

.banner{
	width: 100%;
	float:left;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;

}

.banner-content{
	padding-top:270px;
	width: 50%;
	margin:0 auto; 
	text-align: center;
	padding-bottom: 100px;

}
.banner-content h1{
	font-family: 'Lato', sans-serif;
	font-size: 33px;
	color:  #eee;
	margin-bottom: 20px;
	width: 100%;




}
.banner-content p{
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	color: #eee;
	margin-bottom: 20px;
	font-size: 30px;

}

.btn{
	border: none;
	padding: 20px 28px;
	color: white;
	margin-top:25px;
	background-color: #99c50a;
	border-radius: 6px;


}
.btn:hover{

	  box-shadow: 2px 4px 5px #00FF00;
}

/*--------------------------first-----------------------*/

.first{

	width: 100%;
	margin:0px auto;
	background-color: #ffffff;
	float: left;
	/*margin-bottom: 200px;*/

}


.first-one{


	padding-top: 50px;

}

.first-one img{
	margin-left: 550px;
	margin-bottom: 20px;

}


.first-one h2{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #5d5d5d;
	}

	

.first-one p{
	text-align: center;
	margin-top: 40px;
	color: #838383;

}


.first-two p{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 100px;
	color: #838383;
}
/*---------------------------sec-------------------------*/


.sec{
	width: 100%;
	float: left;
	padding: 30px 0px;

}



.sec-one{
	width: 50%;
	
	float: left;
	background-color:#e2f8ff;
	background-size: cover;

}


.sec-one img{
	margin-top : 50px;
	margin-left: 200px;

}

.sec-one h2{

	float: right;
	margin-top: 50px;

	margin-right: 30px;
	color: #515151;

}

.sec-one p{

	text-align: right;
	padding-right: 20px;
	margin-top: -35px;
	margin-bottom: 50px;
	color: #6e7274;	

}


.btn1{

	float: right;
	border: none;
    padding: 10px 20px;
	color: white;
	background-color: #26a6d1;
	margin-right: 30px;
	margin-top: -20px;
	margin-bottom: 40px;
	border-radius: 6px;
	margin-left: 35px;
	}
.btn1:hover{


	 box-shadow: 2px 4px 5px  #1F45FC;


}



.sec-two{
	width: 50%;
	float: left;
	background-color: #f5f9eb;
	background-size: cover;


}

.sec-two img{
	margin-top : 60px;
	margin-left: 150px;



}
.sec-two h2{
	float: right;
	margin-top: 50px;
	margin-right: 30px;
	color: #515151;


}

.sec-two p{
	text-align: right;
	padding-right: 20px;
	margin-top: -35px;
	margin-bottom: 50px;
	color: #6e7274;
	
	


}
.btn2{


	float: right;
	border: none;
    padding: 10px 20px;
	color: white;
	
	background-color:#add136;	
	margin-right: 30px;
	margin-top: -20px;
	margin-bottom: 50px;
	border-radius: 6px;


}
.btn2:hover{


	  box-shadow: 2px 4px 5px #00FF00;
}


/*--------------------------------------------3rd----------------------------------*/

.third{
	width: 100%;
	float: left;
	padding-bottom: 100px;




}


.third-top{



}
.third-top h2{
	margin-bottom: 20px;
	color: #515151;



	
}
.third-top p{
	color: #9c9c9c;
	margin-top: 10px;


	
}

.btn3{
	float: right;
	margin-top: -40px;
	border: 1px solid #9c9c9c;
	padding: 10px 20px;
	color: #9c9c9c;
	background-color:transparent;
	margin-right: 30px;
	margin-top: -30px;

	border-radius: 6px;

}



.gal1{
  float: left;
    width: 30%;
    margin-top: 40px;
     border: 1px solid black;
     border-radius: 11px;
     padding-bottom: 20px;
     border-color: #e5e5e5;
     background-color: #f9f9f9;
   


}
.gal1 img{
	width: 100%;


}
.gal1 h3{
	text-align: center;


	font-family: 'Open Sans', sans-serif;
	color: #484848;
}

.gal1 p{


	text-align: center;
	margin-top: 30px;
	color: #8d8d8d;
}
.ptag1 p{


	text-align: left;
	margin-top: 40px;
	margin-left: 10px;
	color: #8d8d8d;
	}
.ptag2 p{

	text-align: right;
	margin-top: -20px;
	margin-right: 10px;
	color: #8d8d8d;
}
.gal1 span{


	border-bottom: 1.5px solid;
	color: #e5e5e5;
	width: 80%;
	display: block;
	margin-top: 50px;
	margin-left: 20px;


}
.gal1 h4{
	margin-left: 180px;
	margin-top: 50px;
	color: #6c6c6c;


}


.icon{
	float: right;


}
.fa.fa-caret-right{

	font-size: 30px;
	color: #add136;
	margin-right: 10px;
	margin-top: 20px;


}


.gal2 {
  float: left;
  width: 30%;
    margin-top: 38px;
    margin-left: 45px;
    border: 1px solid black;
    border-radius: 11px;
    padding-bottom: 20px;
    border-color: #e5e5e5;
    background-color: #f9f9f9;
}

.gal2 img{
	width: 100%;

}

.gal2 h3{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #484848;


}
.gal2 p{


	text-align: center;
	margin-top: 20px;
	color: #8d8d8d;

}

.pt1 p{
	float: left;

	margin-top: 30px;
	margin-left: 10px;
	color: #8d8d8d;



}
.pt2 p{
	margin-top: 30px;
	margin-right: 10px;


	float: right;
	color: #8d8d8d;
}
.gal2 span{
	border-bottom: 1.5px solid;
	color: #e5e5e5;
	width: 80%;
	display: block;
	margin-top: 115px;
	margin-left: 30px;

}

.gal2 h4{
    margin-left: 170px;
	margin-top: 50px;
	color: #6c6c6c;

}

.icon1{
		float: right;


}

.fa.fa-caret-right{
	font-size: 30px;
	color: #add136;
	margin-right: 10px;
	margin-top: -45px;

}

.fa.fa-caret-right:hover{
	  
	  
	  	padding: 5px 10px;
	transform: scale(1.5);
	



}





.gal3{  

	float: left;
    width: 30%;
    margin-top: 32px;
   margin-left:50px;
   border: 1px solid black;
   border-radius: 11px;
    /*  padding-bottom: 200px;*/
    padding-bottom: 20px;
    border-color: #e5e5e5;
      background-color: #f9f9f9;
  }



.gal3 img{
width: 100%;


}


.gal3 h3{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #484848;


}
.gal3 p{

	text-align: center;
	margin-top: 20px;
	color: #8d8d8d;
}
 .pt3 p{

 	float: left;
 	margin-left: 10px;
 	margin-top: 30px;
 	color: #8d8d8d;



 }

 .pt4 p{
 	float: right;
 	margin-right: 10px;
 	margin-top: 30px;
 	color: #8d8d8d;


 }

 .gal3 span{
 	border-bottom: 1.5px solid;
	color: #e5e5e5;
	width: 80%;
	display: block;
	margin-top: 115px;
	margin-left: 30px;

 } 
.gal3 h4{
	margin-left: 180px;
	margin-top: 50px;
	color: #6c6c6c;

}

.four-one{
	margin-left: 25px;
	width: 100%;
	float: left;
	padding: 10px 0px;

}

.icon2{
	float: right;

	}
footer{
	width: 100%;
	float: left;
	padding: 30px 0px;
	background-color: white;


}
.foot h5{
	text-align: center;
	color: #848484;



}


